<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dolgi_islam" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dolgi_Islam" >
        <activity
            android:name=".ResPostActivity"
            android:exported="false" />
        <activity
            android:name=".ResNamazActivity"
            android:exported="false" />
        <activity
            android:name=".ResultActivity"
            android:exported="false" />
        <activity
            android:name=".CountDolgNamazActivity"
            android:exported="false" />
        <activity
            android:name=".EditNamazActivity"
            android:exported="false" />
        <activity
            android:name=".DolgPostActivity"
            android:exported="false" />
        <activity
            android:name=".RamadanActivity"
            android:exported="false" />
        <activity
            android:name=".DolgNamazActivity"
            android:exported="false" />
        <activity
            android:name=".TodayNamasActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>